<h3>Student Registration Form</h3>

<div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="id" 
      aria-label="id">
    </div>
    <br>
    <div class="col">
      <input type="text"  class="form-control"
       placeholder="firstName" aria-label="firstName">
    </div>
    <div class="col">
      <input type="text" class="form-control"
       placeholder="lastName" aria-label="lastName">
    </div>
    <div class="col">
      <input type="text"class="form-control"
       placeholder="dob" aria-label="dob">
    </div>
    <div class="col">
      <input type="text"  class="form-control"
       placeholder="class" aria-label="class">
    </div>
  </div>